/*
Primary Color: #18A1FF
Background Color: #F5F7FB
Text Color: #37535E
Shadow Settings: 0 0 20px hsl(207, 29, 65, 25%)
Border Radius: 10px-20px
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    
}
body{
    background-color: #F5F7FB;
}
.container{
    margin: auto;
}
.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav .logo{
    margin-left: 30px;
}
.nav .logo img{
    width: 50px;
    box-shadow: 0 0 20px hsl(207 , 29% , 65% );
    border-radius: 10px;
    padding: 5px;
}
.nav ul {
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin: 0 10px;
}
.nav ul li a{
    text-decoration: none;
    color: #37535E;
}

.btns button{
    outline: none;
    background: none;
    background-color: #18A1FF;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.header
{
    background-image: url('Assets/BG.png');
    background-size: cover;
    min-height: 500px;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #37535e8f;
    
}
.header .content {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 25px;
}
.header .content .btns{
    margin-top: 20px;
}
.header .content .btns button {
    margin: 0 8px;
    padding: 8px 35px;
    margin-bottom: 5px;
}
.header .content button:first-child{
    background-color: #37535E;
}
.header .content button:last-child{
    background-color: #F5F7FB;
    color: #37535E;
}
.drop-down{
    list-style: none;
    text-align: center;
    position: relative;
    height: 0;
    transition: .5s;
}

.drop-down li {
    margin: 10px 0;
    
}
.drop-down li:hover{
    background-color: #18A1FF;
}
.drop-down li:hover a{
    color: #fff;
}
.drop-down a{
    color: #37535E;
    text-decoration: none;
}

.team{
    margin: 20px 0;
}
.team h3{
    color: #37535E;
}
.team .team-group{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 5px;
    flex-wrap: wrap;
    
}
.team .team-group .team-member .card{
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(207 , 29% , 65% );
    color: #37535E;
    margin-bottom: 20px;
}
.team .team-group .team-member .card .card-header img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.team .team-group .team-member .card .card-body{
    padding: 10px;
}
.team .team-group .team-member .card .card-body ul {
    list-style: none;
    margin-top: 10px;
    font-size: .8rem;
}
.team .team-group .team-member .card .card-body h4{
    margin: 0;
    padding: 0;
}
.team .team-group .team-member .card .card-body .name {
    font-size: .7rem;
}
.team .team-group .team-member .card .card-body .name .fa-star{
    color: #ebd32d;
}
.fa-circle-check{
    color: #2fb558;
}
.show-on-mob{
    display: none;
}
/* start  responsive  */

@media screen and (max-width:1400px){
    .container{
        max-width: 1140px;
    }
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width:992px){
    .container{
        max-width: 720px;
    }
}
@media screen and (max-width:768px){
    .container{
        max-width: 540px;
        margin: auto;
    }
    .hide-on-mob{
        display: none;
    }
    .show-on-mob{
        display: block;
    }
    .drop-down.active{
        height: 250px;
    }
    .header .content{
        
        font-size: 15px;
    }
    .team .team-group{
        justify-content: space-around;
    }
    .team .team-group .team-member .card .card-body ul,
    .team .team-group .team-member .card .card-body .name{
        font-size: 1rem;
    }
    

}
@media screen and (max-width:576px){
    .container{
       width: 95%;
    }

    .team .team-group{
        display: block;
     }
     .header .content .btns button{
        padding: 8px 15px;
     }
}